@charset "UTF-8";
@import "normalize.css";
/* Media thresholds */
/* color palette */
html {
  background: #fff;
  color: #555;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  overflow-y: scroll; /* Always have a scrollbar */
}
page {
  background: #fff;
}
.container {
  position: relative;
  width: 85%;
  max-width: 700px; /* 1265px; */
  margin: 0px auto;
}
header {
  background: #fff;
  text-align: center;
}
header a {
  color: #777;
}
header a:hover {
  color: #000;
}
#logo {
  margin: 20px 0 10px;
  text-align: center;
  display: inline-block;
}
#logo-image {
  display: inline-block;
  height: 3em !important;
  margin-bottom: 0.5em;
}
#logo-name {
  letter-spacing: 0.5em;
  padding-left: 0.5em;
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  color: #000;
  text-transform: uppercase;
  display: block;
}
.home #logo-image #left-color {
  stop-color: #6dc;
}
.home #logo-image #right-color {
  stop-color: #06a;
}
.music #logo-image #left-color {
  stop-color: #d0b;
}
.music #logo-image #right-color {
  stop-color: #e20;
}
.art #logo-image #left-color {
  stop-color: #fd3;
}
.art #logo-image #right-color {
  stop-color: #e60;
}
.prog #logo-image #left-color {
  stop-color: #d3c;
}
.prog #logo-image #right-color {
  stop-color: #81e;
}
.about #logo-image #left-color {
  stop-color: #ee4;
}
.about #logo-image #right-color {
  stop-color: #9c0;
}
nav {
  text-transform: uppercase;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: #222;
}
nav ul {
  padding: 1em 0 0;
/*The bottom padding is already made with nav ul:after*/
  margin: 0;
/* Trick for equidistant li */
  text-align: justify;
  width: 100%;
  max-width: 400px;
  display: inline-block;
/* Trick for equidistant li */
}
nav ul:after {
  content: '';
/* Ensures there are at least 2 lines of text, so justification works */
  width: 100%;
  display: inline-block;
}
nav ul li {
  font-size: 1em;
  list-style: none outside none;
  display: inline-block;
  position: relative;
  background: none repeat scroll 0px center transparent;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li.active a {
  color: #222;
}
nav ul li.active:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -0.4em;
  left: 0px;
  color: #a00;
}
.home nav ul li.active:after {
  background: none repeat scroll 0% 0% #06a;
}
.music nav ul li.active:after {
  background: none repeat scroll 0% 0% #d0b;
}
.art nav ul li.active:after {
  background: none repeat scroll 0% 0% #e60;
}
.prog nav ul li.active:after {
  background: none repeat scroll 0% 0% #81e;
}
.about nav ul li.active:after {
  background: none repeat scroll 0% 0% #7ca400;
}
.break {
  width: 100%;
  height: 4px;
  content: '';
}
a,
a span {
  transition: color ease-out 0.4s;
  text-decoration: none;
}
a:hover,
a span:hover {
  transition: color ease-out 0.2s;
}
.home footer a {
  color: #06a;
}
.home .content a {
  color: #06a;
}
.music footer a {
  color: #d0b;
}
.music .content a {
  color: #d0b;
}
.art footer a {
  color: #e60;
}
.art .content a {
  color: #e60;
}
.prog footer a {
  color: #81e;
}
.prog .content a {
  color: #81e;
}
.about footer a {
  color: #7ca400;
}
.about .content a {
  color: #7ca400;
}
.home .break {
  background-color: #06a;
  background-image: -webkit-linear-gradient(to right, #fff 0%, #6dc 33%, #06a 66%, #fff 100%);
  background-image: -moz-linear-gradient(to right, #fff 0%, #6dc 33%, #06a 66%, #fff 100%);
  background-image: -o-linear-gradient(to right, #fff 0%, #6dc 33%, #06a 66%, #fff 100%);
  background-image: -ms-linear-gradient(to right, #fff 0%, #6dc 33%, #06a 66%, #fff 100%);
  background-image: -chrome-linear-gradient(to right, #fff 0%, #6dc 33%, #06a 66%, #fff 100%);
  background-image: linear-gradient(to right, #fff 0%, #6dc 33%, #06a 66%, #fff 100%);
}
.music .break {
  background-color: #d0b;
  background-image: -webkit-linear-gradient(to right, #fff 0%, #d0b 33%, #e20 66%, #fff 100%);
  background-image: -moz-linear-gradient(to right, #fff 0%, #d0b 33%, #e20 66%, #fff 100%);
  background-image: -o-linear-gradient(to right, #fff 0%, #d0b 33%, #e20 66%, #fff 100%);
  background-image: -ms-linear-gradient(to right, #fff 0%, #d0b 33%, #e20 66%, #fff 100%);
  background-image: -chrome-linear-gradient(to right, #fff 0%, #d0b 33%, #e20 66%, #fff 100%);
  background-image: linear-gradient(to right, #fff 0%, #d0b 33%, #e20 66%, #fff 100%);
}
.art .break {
  background-color: #e60;
  background-image: -webkit-linear-gradient(to right, #fff 0%, #fd3 33%, #e60 66%, #fff 100%);
  background-image: -moz-linear-gradient(to right, #fff 0%, #fd3 33%, #e60 66%, #fff 100%);
  background-image: -o-linear-gradient(to right, #fff 0%, #fd3 33%, #e60 66%, #fff 100%);
  background-image: -ms-linear-gradient(to right, #fff 0%, #fd3 33%, #e60 66%, #fff 100%);
  background-image: -chrome-linear-gradient(to right, #fff 0%, #fd3 33%, #e60 66%, #fff 100%);
  background-image: linear-gradient(to right, #fff 0%, #fd3 33%, #e60 66%, #fff 100%);
}
.prog .break {
  background-color: #81e;
  background-image: -webkit-linear-gradient(to right, #fff 0%, #d3c 33%, #81e 66%, #fff 100%);
  background-image: -moz-linear-gradient(to right, #fff 0%, #d3c 33%, #81e 66%, #fff 100%);
  background-image: -o-linear-gradient(to right, #fff 0%, #d3c 33%, #81e 66%, #fff 100%);
  background-image: -ms-linear-gradient(to right, #fff 0%, #d3c 33%, #81e 66%, #fff 100%);
  background-image: -chrome-linear-gradient(to right, #fff 0%, #d3c 33%, #81e 66%, #fff 100%);
  background-image: linear-gradient(to right, #fff 0%, #d3c 33%, #81e 66%, #fff 100%);
}
.about .break {
  background-color: #7ca400;
  background-image: -webkit-linear-gradient(to right, #fff 0%, #ee4 33%, #9c0 66%, #fff 100%);
  background-image: -moz-linear-gradient(to right, #fff 0%, #ee4 33%, #9c0 66%, #fff 100%);
  background-image: -o-linear-gradient(to right, #fff 0%, #ee4 33%, #9c0 66%, #fff 100%);
  background-image: -ms-linear-gradient(to right, #fff 0%, #ee4 33%, #9c0 66%, #fff 100%);
  background-image: -chrome-linear-gradient(to right, #fff 0%, #ee4 33%, #9c0 66%, #fff 100%);
  background-image: linear-gradient(to right, #fff 0%, #ee4 33%, #9c0 66%, #fff 100%);
}
/* Content */
/* ================================================== */
.content {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 800px) {
  .content {
    font-size: 1.25em;
  }
}
.content .post-title {
  margin-top: 0;
}
.content p {
  line-height: 1.58;
  text-align: justify;
}
.content ul {
  padding-left: 15px;
}
.content ul li {
  list-style: outside none none;
  background-position: 0px 0.3em;
  background-image: url("/images/list.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-bottom: 0.8em;
  line-height: 1.4;
}
.content ul li:last-child {
  padding-bottom: 0;
}
.clear {
  clear: both;
  display: block;
}
h1 {
  margin: 1em 0 1em 0;
  font-size: 1.5em;
}
h2 {
  margin: 0.8em 0 0.8em 0;
  font-size: 1em;
}
.posts {
  padding: 0px;
  margin: 0px;
  border: 0px none;
  overflow: hidden;
}
.posts ul {
  padding: 0px;
}
.posts ul a {
  display: block;
}
.posts ul li {
/* list-style: outside none none;*/
  display: block;
  clear: both;
  margin-bottom: 35px;
  padding: 0px;
  background: none repeat scroll 0px center transparent;
  line-height: 1.1;
}
@media (min-width: 800px) {
  .posts ul li {
    float: left;
    width: 48%;
  }
  .posts ul li:nth-child(2n+1) {
    clear: left;
  }
  .posts ul li:nth-child(2n) {
    clear: none;
  }
}
.posts .left {
  display: block;
  font-weight: 700;
  width: 75px;
  float: left;
  margin-right: 20px;
}
.posts .left .date {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 17px;
/* posts-color mixin */
}
.posts .left .year {
  color: #555;
  display: block;
  text-align: right;
  font-size: 13px;
  line-height: 13px;
}
.posts .date,
.posts .year {
  display: block;
  text-align: right;
}
.posts .right {
  display: block;
  float: left;
  width: 65%;
}
.posts .right span {
  display: block;
}
.posts .right .title {
  line-height: 18px;
  font-size: 18px;
  color: #555;
  margin-bottom: 4px;
}
@media (min-width: 615px) {
  .posts .right .title {
    font-size: 22px;
  }
}
.posts .right .tags {
  color: #777;
  font-size: 13px;
}
.posts a:hover .right .title {
  color: #000;
}
hr {
  margin: 2em 0;
}
.icon {
  vertical-align: middle;
  height: 1.2em;
  margin-left: 0.4em;
  margin-right: 0.4em;
}
/* Figures */
figure {
  text-align: center;
  margin: 0;
  padding: 2.5%;
}
figure img,
figure .img {
  max-width: 98%;
  padding: 1%;
  background: none repeat scroll 0% 0% #fff;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
}
figcaption {
  font-size: 90%;
  margin: 0.7em 0 1em 0;
  color: #555;
  font-style: italic;
}
.polaroid {
  display: block;
  width: 200px;
  background: #fff;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
  text-align: center;
  padding: 10px;
  margin: -50px auto;
}
.polaroid:after {
  content: "\A";
  white-space: pre;
}
.polaroid:nth-child(4n + 1) {
  transform: rotate(-5deg) translate(-110px, 0px);
}
.polaroid:nth-child(4n + 2) {
  transform: rotate(3deg) translate(120px, 5px);
}
.polaroid:nth-child(4n + 3) {
  transform: rotate(-2deg) translate(-115px, 15px);
}
.polaroid:nth-child(4n + 0) {
  transform: rotate(6deg) translate(110px, -10px);
}
.polaroid img {
  width: 100%;
}
.polaroid polarcaption {
  font-size: 0.6em;
  margin: 0.7em 0;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  word-spacing: 0.3em;
}
/* Disqus */
#disqus_thread {
  padding-top: 4em;
  padding-bottom: 1.5em;
}
/* Footer */
/* ================================================== */
footer {
  clear: both;
  text-align: center;
  font-size: 0.75em;
}
footer .container {
  padding: 50px 0;
}
.about {
  font-size: 1.05em;
}
.about a {
  margin: 0px 10px;
}
.copyright {
  font-style: italic;
}
#ccby {
  display: inline;
  height: 100%;
}
/* The playlist */
/* ================================================== */
.music .playlist {
  color: #777;
}
.music .playlist a {
  color: #d0b;
}
.music .playlist ul {
  padding: 0;
  position: relative;
}
.music .playlist ul li {
  list-style: outside none none;
  padding: 0px;
  background: none repeat scroll 0px center transparent;
  padding: 0.5em 0 0.5em 0;
  position: relative;
  transition: all ease-out 0.3s;
}
.music .playlist ul li:hover {
  transition: all ease-out 0.2s;
  color: #555;
}
.music .playlist ul:before {
  background: #ccc;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.music .playlist li:after {
  background: #ccc;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.music .playlist .title {
  display: inline-block;
  color: #d0b;
}
.music .playlist .date {
  display: inline-block;
}
.music .playlist .date:before {
  content: '-';
  padding: 0px 0.3em;
}
.music .playlist .length {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 0px;
}
.music .playlist .description {
  text-align: justify;
  margin-left: 1em;
}
.post-meta {
  color: #777;
  margin-top: 0;
}
