---
---

@import "normalize";
@import "tufte";
@import "music.scss";
// Note: @use does not seem to work well in Jekyll :/

// Slight yellow filter
body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255, 255, 248);
  mix-blend-mode: multiply;
  // opacity: 0.03;
  pointer-events: none;
  z-index: 1000;
}

[data-reveal][data-revealed="false"] {
  @include dotted();
  cursor: default;
}

[data-reveal][data-revealed="true"] {
  cursor: default;
}

/* data-revealed is set to false by JavaScript on load. */
[data-from][data-revealed="false"] {
  display: none;
}

[data-from][data-revealed="true"] {
  display: initial;
  animation-name: fadein;
  animation-timing-function: ease;
  animation-duration: 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.posts {
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin-top: 2.1rem;
    margin-bottom: 3.4rem; /* same as p.subtitle + section + p margins */
  }

  .title {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0.8rem;
    line-height: 1;
  }
  .date,
  .tags {
    font-size: 1.4rem;
  }

  .tag {
    text-transform: uppercase;
    margin-right: 1.4rem;
  }

  li > a:link {
    @include no-underline();
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}

.breadcrumbs {
  ol {
    margin-left: 0;
    padding: 0;
    margin-bottom: 3.4rem;
    text-transform: uppercase;
  }

  li {
    list-style: none;
    display: inline-block;
    margin-top: 0;
    text-rendering: optimizeLegibility;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
  }

  .chevron {
    margin: 0 0.5rem;
    height: 0.9rem;
    width: 0.9rem;
    color: inherit;
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: -0.1rem;
  }

  #soreine-logo {
    position: relative;
    top: 0.15rem;
    height: 1rem;
    margin-right: 0.5rem;
    display: inline-block;
  }
  #soreine-logo #mask {
    fill: currentColor;
    opacity: 0.9;
  }
}

figure {
  img,
  video,
  canvas {
    background: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    box-sizing: border-box;
  }

  display: inline-block;
}

figcaption {
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  max-width: 24rem;
}

.art {
  figcaption {
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.post.art {
  figure {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  img,
  canvas,
  video {
    width: auto;
    height: auto;
    max-height: 85vh;
    // height: 100%;
  }
}

// For images, videos, etc.
a.wrapper {
  @include no-underline();
}

.github-icon {
  display: inline-block;
  vertical-align: baseline;
  height: 1em;
  width: 1em;
  margin: 0 0.5em;
}

.pixel-perfect {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

// Small photographs with caption on it
.polaroid {
  @include no-underline();

  display: block;

  margin-top: 2.1rem;
  margin-bottom: 3.4rem; /* same as p.subtitle + section + p margins */
  text-align: center;

  margin-right: auto;
  margin-left: auto;

  margin-bottom: -50px;
  transform-origin: center center;
  &:nth-child(4n + 1) {
    transform: rotate(-5deg) translate(-110px, 0px);
  }
  &:nth-child(4n + 2) {
    transform: rotate(3deg) translate(120px, 5px);
  }
  &:nth-child(4n + 3) {
    transform: rotate(-2deg) translate(-115px, 15px);
  }
  &:nth-child(4n + 0) {
    transform: rotate(6deg) translate(110px, -10px);
  }

  @media (max-width: $breakpoint) {
    margin-bottom: 50px;

    &:nth-child(4n + 1) {
      transform: rotate(-5deg) translate(-10px, 0px);
    }
    &:nth-child(4n + 2) {
      transform: rotate(3deg) translate(20px, 0px);
    }
    &:nth-child(4n + 3) {
      transform: rotate(-2deg) translate(-15px, 0px);
    }
    &:nth-child(4n + 0) {
      transform: rotate(6deg) translate(10px, 0px);
    }
  }

  img {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    box-sizing: border-box;
    background: white;
    width: 200px;
    height: 200px;

    filter: grayscale(0.7);
    // transition: filter 0.2s ease-out;
    // &:hover {
    //   filter: grayscale(0);
    // }
  }

  figcaption {
    // font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0.7em auto;
    max-width: initial;
    // word-spacing: 0.3em;
  }
}

.eq-bars .line1,
.eq-bars .line2,
.eq-bars .line3 {
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transform-origin: center 90%;
}

.eq-bars .line2 {
  animation-delay: -0.25s;
}
.eq-bars .line3 {
  animation-delay: -0.5s;
}

@keyframes bounce {
  0% {
    transform: scaleY(0.7);
  }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.9);
  }
  75% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.7);
  }
}
