---
---

@import "normalize";
@import "tufte";
// Note: @use does not seem to work well in Jekyll :/

[data-reveal][data-revealed="false"] {
  @include underlined($textColor);
  cursor: default;
}

[data-reveal][data-revealed="true"] {
  cursor: default;
}

/* data-revealed is set to false by JavaScript on load. */
[data-from][data-revealed="false"] {
  display: none;
}

[data-from][data-revealed="true"] {
  display: initial;
  animation-name: fadein;
  animation-timing-function: ease;
  animation-duration: 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.posts {
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin-top: 2.1rem;
    margin-bottom: 3.4rem; /* same as p.subtitle + section + p margins */
  }

  .title {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0.8rem;
    line-height: 1;
  }
  .date,
  .tags {
    font-size: 1.4rem;
  }

  .tag {
    text-transform: uppercase;
    margin-right: 1.4rem;
  }

  li > a:link {
    padding: 0;
    background-image: none;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}

.breadcrumbs {
  ol {
    margin-left: 0;
    padding: 0;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    margin-bottom: 3.4rem;
    text-transform: uppercase;
  }

  li {
    list-style: none;
    display: inline-block;
    margin-top: 0;
    text-rendering: optimizeLegibility;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
  }

  li:not(:last-child):after {
    margin: 0 0.5rem;
    content: "";
    height: 1rem;
    width: 1rem;
    color: "black";
    display: inline-block;
    background-image: url("./chevron-right.svg");
    background-size: 100%;
    vertical-align: baseline;
    margin-bottom: -0.1rem;
  }
}

.post {
  figure {
    figcaption {
      margin-left: 1.5rem;
      margin-bottom: 0;
      font-size: 1.1rem;
      line-height: 1.6;
      vertical-align: baseline;
      max-width: 40%;
    }
  }
}

// For images, videos, etc.
a.wrapper {
  padding: 0;
  background-image: none;
}

.icon {
  display: inline-block;
  vertical-align: baseline;
  height: 1em;
  margin: 0 0.5rem;
}

.pixel-perfect {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
