@charset "UTF-8";
@import "normalize.css";

/* Media thresholds */
$media-width = 800px;

/* color palette */
$blue = #06A;
$azure = #6DC;
$pink = #D3C;
$purple = #81E;
$green = #9C0;
$citrus = #EE4;
$red = #E20;
$fuschia = #D0B;
$yellow = #FD3;
$orange = #E60;

$gray-dark = #222;
$gray = #555;
$gray-light = #777;

$home = {
    left: $azure,
    right: $blue,
    links: $blue
}

$prog = {
    left: $pink,
    right: $purple,
    links: $purple
}

$about = {
     left: $citrus,
     right: $green,
     links: ($green / 5) * 4
}

$music = {
    left: $fuschia,
    right: $red,
    links: $fuschia
}

$art = {
    left: $yellow,
    right: $orange,
    links: $orange
}

kaleidoscope(mixin) {
    .home {
        mixin($home)
    }
    .music {
        mixin($music)
    }
    .art {
        mixin($art)
    }
    .prog {
        mixin($prog)
    }
    .about {
        mixin($about)
    }
}

html {
    background: #FFF;
    color:$gray;
    font-family: Helvetica, Arial, sans-serif;
    font-size:1em;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    overflow-y: scroll; /* Always have a scrollbar */
}

page {
    background: #FFF;
}

.container {
    position: relative;
    width: 85%;
    max-width: 700px; /* 1265px; */
    margin: 0px auto;
}

header {
    background: #FFF;
    text-align:center;
    a {
        color: $gray-light;
    }

    a:hover {
        color: #000;
    }
}

#logo{
    margin: 20px 0 10px;
    text-align: center;
    display: inline-block;
}

#logo-image {
    display: inline-block;
    // The HTML element contains height style already, to avoid oversized svg before css loads
    // So we override it here
    height: 3em !important;
    margin-bottom: 0.5em;
}

#logo-name {
    $logo-spacing = 0.5em;
    letter-spacing: $logo-spacing;
    // http://stackoverflow.com/questions/6315491/conflict-between-letter-spacing-and-text-aligncenter
    padding-left: $logo-spacing;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
    display: block;
}

svg-gradient(palette) {
    #logo-image {
        #left-color {
            stop-color:palette.left;
        }
        #right-color {
            stop-color:palette.right;
        }
    }
}
kaleidoscope(svg-gradient)

nav {
    text-transform: uppercase;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: $gray-dark;
    ul {
        padding: 1em 0 0; /*The bottom padding is already made with nav ul:after*/
        margin:0;
        /* Trick for equidistant li */
        text-align:justify;
        width:100%;
        max-width:400px;
        display:inline-block;
        /* Trick for equidistant li */
        &:after {
            content:''; /* Ensures there are at least 2 lines of text, so justification works */
            width:100%;
            display:inline-block;
        }

        li {
            font-size: 1em;
            list-style: none outside none;
            display: inline-block;
            position:relative;
            background: none repeat scroll 0px center transparent;

            &:last-child {
                margin-right:0;
            }

            &.active {
                a {
                    color: $gray-dark;
                }

                &:after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    bottom: -.4em;
                    left: 0px;
                    color: #A00;
                }
            }
        }
    }
}

nav-underline(palette) {
    nav ul li.active:after {
        background: none repeat scroll 0% 0% palette.links;
    }
}
kaleidoscope(nav-underline);

.break {
    width:100%;
    height:4px;
    content:'';
}

a, a span {
    transition:color ease-out 0.4s;
    text-decoration: none;
    &:hover{
        transition:color ease-out 0.2s;
    }
}

link-color(palette) {
    footer a {
        color: palette.links;
    }
    .content a {
        color: palette.links;
    }
}
kaleidoscope(link-color);

background-gradient(palette) {
    .break {
        background-color: palette.links;
        background-image:-webkit-linear-gradient(to right, #FFF 0%, palette.left 33%, palette.right 66%, #FFF 100%);
        background-image:-moz-linear-gradient(to right, #FFF 0%, palette.left 33%, palette.right 66%, #FFF 100%);
        background-image:-o-linear-gradient(to right, #FFF 0%, palette.left 33%, palette.right 66%, #FFF 100%);
        background-image:-ms-linear-gradient(to right, #FFF 0%, palette.left 33%, palette.right 66%, #FFF 100%);
        background-image:-chrome-linear-gradient(to right, #FFF 0%, palette.left 33%, palette.right 66%, #FFF 100%);
        background-image:linear-gradient(to right, #FFF 0%, palette.left 33%, palette.right 66%, #FFF 100%);
    }
}
kaleidoscope(background-gradient);



/* Content */
/* ================================================== */

.content {
    background: #FFF;
    padding-top: 50px;
    padding-bottom: 50px;

    @media(min-width: $media-width) {
        font-size:1.25em;
    }

    .post-title {
        margin-top: 0;
    }

    p {
        line-height: 1.58;
        text-align:justify;
    }

    ul {
        padding-left: 15px;
        li {
            list-style: outside none none;
            background-position: 0px 0.3em;
            background-image:url('/images/list.svg');
            background-repeat:no-repeat;
            padding-left: 30px;
            padding-bottom: 0.8em;
            line-height: 1.4;
        }
        li:last-child {
            padding-bottom:0;
        }
    }
}

.clear {
    clear: both;
    display: block;
}

h1 {
    margin: 1em 0 1em 0;
    font-size: 1.5em;
}

h2 {
    margin: .8em 0 .8em 0;
    font-size: 1em;
}

.posts {
    padding: 0px;
    margin: 0px;
    border: 0px none;
    overflow: hidden;
    ul {
        padding: 0px;
        a {
            display: block;
        }
        li {
            /* list-style: outside none none;*/
            display: block;
            clear: both;
            @media(min-width: $media-width) {
                float: left;
                width: 48%;
                &:nth-child(2n+1) {
                    clear: left;
                }
                &:nth-child(2n) {
                    clear: none;
                }
            }
            margin-bottom: 35px;
            padding: 0px;
            background: none repeat scroll 0px center transparent;
            line-height: 1.1;
        }
    }

    .left {
        display: block;
        font-weight: 700;
        width: 75px;
        float: left;
        margin-right: 20px;
        .date {
            text-transform: uppercase;
            font-size:17px;
            line-height: 17px;
            /* posts-color mixin */
        }
        .year {
            color: $gray;
            display: block;
            text-align: right;
            font-size: 13px;
            line-height: 13px;
        }
    }
    .date, .year {
        display: block;
        text-align: right;
    }

    .right {
        display: block;
        float: left;
        width: 65%;
        span {
            display: block;
        }
        .title {
            line-height: 18px;
            font-size: 18px;
            @media(min-width:615px) {
                font-size:22px;
            }
            color: $gray;
            margin-bottom: 4px;
        }
        .tags {
            color: $gray-light;
            font-size: 13px;
        }
    }
    a:hover .right .title {
        color: #000;
    }
}
posts-color(palette) {
    .posts .left .date {
        color:palette.left;
    }
}
kaleidoscope(date-color);

hr {
    margin: 2em 0;
}

.icon {
    vertical-align: middle;
    height: 1.2em;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

/* Figures */

figure {
    text-align:center;
    margin:0;
    padding:2.5%;
    img, .img {
        max-width: 98%;
        padding: 1%;
        background: none repeat scroll 0% 0% #FFF;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    }
}

figcaption {
    font-size:90%;
    margin:.7em 0 1em 0;
    color:$gray;
    font-style:italic
}

// Small photographs with caption on it
.polaroid {
    display: block;
    width: 200px;
    background: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px;

    margin: 40px auto;

    &:nth-child(4n + 1) {
        transform: rotate(-5deg) translate(-10px, 0px);
    }
    &:nth-child(4n + 2) {
        transform: rotate(3deg) translate(20px, 5px);
    }
    &:nth-child(4n + 3) {
        transform: rotate(-2deg) translate(-15px, 15px);
    }
    &:nth-child(4n + 0) {
        transform: rotate(6deg) translate(10px, -10px);
    }

    @media(min-width: $media-width) {
        margin: -50px auto;

        &:nth-child(4n + 1) {
            transform: rotate(-5deg) translate(-110px, 0px);
        }
        &:nth-child(4n + 2) {
            transform: rotate(3deg) translate(120px, 5px);
        }
        &:nth-child(4n + 3) {
            transform: rotate(-2deg) translate(-115px, 15px);
        }
        &:nth-child(4n + 0) {
            transform: rotate(6deg) translate(110px, -10px);
        }
    }

    img {
        width: 100%;
    }

    polarcaption {
        font-size: 0.6em;
        margin: 0.7em 0;
        color: $gray-light;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        word-spacing: 0.3em;
    }
}

/* Footer */
/* ================================================== */
footer {
    .container {
        padding:50px 0;
    }
    clear: both;
    text-align:center;
    font-size:.75em;
}

.about {
    font-size:1.05em;

    a {
        margin: 0px 10px;
    }
}
.copyright {
    font-style:italic;
}

#ccby {
    display:inline;
    height:100%;
}

/* The playlist */
/* ================================================== */

.music .playlist {
    color:$gray-light;

    a {
        color:$music.links;
    }

    ul {
        padding: 0;
        position:relative;
        li {
            list-style: outside none none;
            padding: 0px;
            background: none repeat scroll 0px center transparent;
            padding: 0.5em 0 0.5em 0;
            position:relative;
            transition:all ease-out .3s;
        }
        li:hover {
            transition:all ease-out .2s;
            color:$gray;
        }
    }

    ul:before {
        background:#CCC;
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        top:0px;
        left:0px;
    }

    li:after{
        background:#CCC;
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom:0px;
        left:0px;
    }

    .title {
        display:inline-block;
        color: $music.links;
    }

    .date {
        display:inline-block;
    }

    .date:before {
        content:'-';
        padding:0px 0.3em;
    }

    .length {
        display:inline-block;
        text-align: right;
        position: absolute;
        right: 0px;
    }

    .description {
        text-align:justify;
        margin-left:1em;
    }
}

.post-meta {
    color:$gray-light;
    margin-top:0;
}