---
---

@import "normalize";
@import "tufte";
// Note: @use does not seem to work well in Jekyll :/

// Slight yellow filter
body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255, 255, 248);
  mix-blend-mode: multiply;
  // opacity: 0.03;
  pointer-events: none;
  z-index: 1000;
}

[data-reveal][data-revealed="false"] {
  @include dotted();
  cursor: default;
}

[data-reveal][data-revealed="true"] {
  cursor: default;
}

/* data-revealed is set to false by JavaScript on load. */
[data-from][data-revealed="false"] {
  display: none;
}

[data-from][data-revealed="true"] {
  display: initial;
  animation-name: fadein;
  animation-timing-function: ease;
  animation-duration: 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.posts {
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin-top: 2.1rem;
    margin-bottom: 3.4rem; /* same as p.subtitle + section + p margins */
  }

  .title {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0.8rem;
    line-height: 1;
  }
  .date,
  .tags {
    font-size: 1.4rem;
  }

  .tag {
    text-transform: uppercase;
    margin-right: 1.4rem;
  }

  li > a:link {
    @include no-underline();
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}

.breadcrumbs {
  ol {
    margin-left: 0;
    padding: 0;
    margin-bottom: 3.4rem;
    text-transform: uppercase;
  }

  li {
    list-style: none;
    display: inline-block;
    margin-top: 0;
    text-rendering: optimizeLegibility;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
  }

  .chevron {
    margin: 0 0.5rem;
    height: 0.9rem;
    width: 0.9rem;
    color: inherit;
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: -0.1rem;
  }

  #soreine-logo {
    position: relative;
    top: 0.15rem;
    height: 1rem;
    margin-right: 0.5rem;
  }
}

figure {
  img,
  video,
  canvas {
    background: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    box-sizing: border-box;
  }

  display: inline-block;
}

figcaption {
  margin-left: 1.5rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  max-width: 24rem;
}

.art {
  figcaption {
    padding: 0 1rem;
    margin: auto;
    text-align: center;
  }
}

// For images, videos, etc.
a.wrapper {
  @include no-underline();
}

.icon {
  display: inline-block;
  vertical-align: baseline;
  height: 1em;
  margin: 0 0.5rem;
}

.pixel-perfect {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

// Small photographs with caption on it
a.polaroid {
  @include no-underline();

  // filter: grayscale(1);

  display: block;

  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 10px;
  box-sizing: border-box;
  background: white;

  width: 200px;
  margin-top: 2.1rem;
  margin-bottom: 3.4rem; /* same as p.subtitle + section + p margins */
  text-align: center;

  margin: -50px auto;

  &:nth-child(4n + 1) {
    transform: rotate(-5deg) translate(-110px, 0px);
  }
  &:nth-child(4n + 2) {
    transform: rotate(3deg) translate(120px, 5px);
  }
  &:nth-child(4n + 3) {
    transform: rotate(-2deg) translate(-115px, 15px);
  }
  &:nth-child(4n + 0) {
    transform: rotate(6deg) translate(110px, -10px);
  }

  @media (max-width: 760px) {
    margin: 40px auto;

    &:nth-child(4n + 1) {
      transform: rotate(-5deg) translate(-10px, 0px);
    }
    &:nth-child(4n + 2) {
      transform: rotate(3deg) translate(20px, 5px);
    }
    &:nth-child(4n + 3) {
      transform: rotate(-2deg) translate(-15px, 15px);
    }
    &:nth-child(4n + 0) {
      transform: rotate(6deg) translate(10px, -10px);
    }
  }

  img {
    // transition: filter ease 0.5s;
    filter: grayscale(0.7);
  }

  figcaption {
    // font-size: 0.6em;
    // margin: 0.7em 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0 auto;
    max-width: initial;
    // word-spacing: 0.3em;
  }
}

.music {
  #custom-song-played-progress {
    cursor: pointer;
    width: 50%;
    height: 40px; // clickable zone
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .progress-background,
  .progress-played {
    height: 0.3rem;
    border-radius: 0.3rem;
  }
  .progress-background {
    position: relative;
    background-color: #eee;
  }
  .progress-played {
    position: absolute;
    width: 0%;
    background-color: $textColor;
  }

  hr {
    /* Same than ul */
    width: 50%;
  }

  .playlist {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 1rem;
  }

  .song {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 1.2rem;
    margin: 0 !important;

    padding: 1rem 0;
    transition: padding-left 0.4s ease-out;
    cursor: pointer;
  }

  .song:hover {
    cursor: pointer;
    padding-left: 0.5rem;
  }

  .title {
    flex: 1 0;
  }

  .duration,
  .counter {
    font-size: 1rem;
    color: #777;
    flex: 0 0 auto;
    margin: 0 1rem;
  }
  .counter {
    text-align: right;
    width: 1rem;
    margin-left: 0;
  }

  .duration {
    margin-right: 0;
  }

  audio {
    display: none;
  }

  .feather {
    margin: 0 0.5em;
    height: 1em;
    width: 1em;
    color: inherit;
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: -0.1rem;
  }
  .feather {
    display: none;
  }
}
