<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <!-- Meta information -->
  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />

  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css" />

  <link
    rel="preload"
    href="/css/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff"
    as="font"
    type="font/woff"
    crossorigin
  />

  <!-- https://instant.page/ -->
  <script src="/scripts/instantpage-3.0.0.js" type="module" defer></script>

  {% if page.category == "music" %}
  <link
    rel="preload"
    href="/css/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff"
    as="font"
    type="font/woff"
    crossorigin
  />
  {% endif %}

  <!--  -->
  {% if page.background %}
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="{{ page.background }}" />
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="{{ page.background }}" />
  <!-- iOS Safari -->
  <meta
    name="apple-mobile-web-app-status-bar-style"
    content="{{ page.background }}"
  />
  {% else %}
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#fcfcfc" />
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#fcfcfc" />
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#fcfcfc" />
  {% endif %}

  <!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  -->

  <!-- OG attributes -->
  <meta
    name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  />
  <!-- 
  <meta property="og:title" content="Soreine" />
  <meta property="og:url" content="https://soreine.dev/" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ site.description }}" /> -->
</head>
