article.music {
  padding-bottom: 12rem; // size of the player

  ul.playlist {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 1rem;
    max-width: $paragraphLength;
  }

  .song {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 1.2rem;
    margin: 0 !important;
    padding: 1rem 0;
    cursor: pointer;
  }

  .title,
  .song-index {
    transition: transform 0.4s ease-out;
  }

  .song:hover {
    .title,
    .song-index {
      transform: translateX(0.5rem);
    }
  }

  .title {
    flex: 1 0;
  }

  .duration,
  .song-index {
    position: relative;
    font-weight: 300;
    font-size: 1rem;
    color: $textColor;
    flex: 0 0 auto;
    margin: 0 1rem;
  }
  .song-index {
    text-align: right;
    width: 1rem;
    margin-left: 0;
  }
  .eq-bars {
    display: none;
    height: 1.2rem;
    width: 1.2rem;
  }
  .amplitude-playing {
    .title {
      font-weight: bold;
    }
    .index {
      display: none;
    }
    .eq-bars {
      display: block;
    }
  }

  .duration {
    margin-right: 0;
  }

  audio {
    display: none;
  }

  h1,
  h2,
  h3 {
    margin-top: 4rem;
  }
}

#song-player {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;

  // Same than body. TODO fix for wide screen
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  max-width: $paragraphLength;
  @media (max-width: $breakpoint) {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }

  // top gradient shadow
  &:before {
    content: "";
    display: block;
    // position: absolute;
    // top: 0;
    // right: 0;
    // left: 0;
    // transform: translateY(-100%);
    height: 5rem;
    background: linear-gradient(rgba(255, 255, 255, 0), $background);
  }

  pointer-events: none;
  .inner {
    background: $background;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media (max-width: $breakpoint) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    pointer-events: initial;
  }

  // Animate in
  transform: translateY(0%);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  &.hidden {
    opacity: 0;
    transform: translateY(20%);
    .inner {
      pointer-events: none;
    }
  }

  .song-name {
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;

    .feather {
      display: block;
      stroke-width: 0.1rem;
      height: 1.2rem;
      width: 1.2rem;
    }

    .amplitude-repeat-song-on {
      .feather {
        stroke-width: 0.2rem;
      }
    }
  }

  #song-progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #custom-progress-bar {
    flex: 1 1 auto;
    cursor: pointer;
    height: 40px; // clickable zone
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    &:hover {
      .progress-played::after {
        display: block;
      }
    }
  }
  .progress-background,
  .progress-played,
  .progress-buffered {
    height: 0.1rem;
    border-radius: 0.1rem;
  }
  .progress-background {
    position: relative;
    background-color: #eee;
  }
  .progress-buffered {
    position: absolute;
    width: 0%;
    background-color: #ddd;
  }
  .progress-played {
    position: absolute;
    width: 0%;
    background-color: $textColor;

    &::after {
      display: none;
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      height: 0.7rem;
      width: 0.7rem;
      border-radius: 0.7rem;
      border: 0.1rem solid $textColor;
      background-color: $background;
    }
  }

  .duration,
  .current-time {
    flex: 0 0 auto;
    font-size: 1rem;
    font-weight: 300;
    color: $textColor;
    flex: 0 0 auto;
  }
  .current-time {
    margin-right: 1rem;
  }
  .duration {
    margin-left: 1rem;
  }

  .amplitude-play-pause {
    position: relative;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    border: 0.08rem solid $textColor;

    display: flex;
    align-items: center;
    justify-content: center;

    .feather-play {
      margin-left: 10%;
    }
  }
  .amplitude-playing {
    .feather-play {
      display: none;
    }
  }
  .amplitude-paused {
    .feather-pause {
      display: none;
    }
  }

  .amplitude-play-pause,
  .amplitude-prev,
  .amplitude-next,
  .amplitude-repeat-song,
  .download {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    flex: 0 0 auto;
    margin: 0 1rem;
    @media (max-width: $breakpoint) {
      margin: 0 0.5rem;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .download {
    opacity: 0.4;
    cursor: default;
  }
  .download[href] {
    cursor: pointer;
    opacity: 1;
  }
}
