@charset "UTF-8";

/* Adapted from
https://edwardtufte.github.io/tufte-css/
 */

$background: #fcfcfc;
$textColor: #333;
$breakpoint: 720px;
$paragraphLength: 600px;

@mixin dotted($color: $textColor, $thickness: 10%) {
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px dashed $color;

  // background: $color;
  // border-radius: 8px;

  // background-image: -webkit-linear-gradient(
  //   bottom,
  //   rgba(0, 0, 0, 0) 0%,
  //   $color 0%,
  //   $color $thickness,
  //   rgba(0, 0, 0, 0) $thickness
  // );
  // background-image: linear-gradient(
  //   to top,
  //   rgba(0, 0, 0, 0) 0%,
  //   $color 0%,
  //   $color $thickness,
  //   rgba(0, 0, 0, 0) $thickness
  // );
}

@mixin highlighted($color: #e4f0d0, $thickness: 10%) {
  text-decoration: none;

  background: $color;
  border-radius: 8px;

  // background-image: -webkit-linear-gradient(
  //   bottom,
  //   rgba(0, 0, 0, 0) 0%,
  //   $color 0%,
  //   $color $thickness,
  //   rgba(0, 0, 0, 0) $thickness
  // );
  // background-image: linear-gradient(
  //   to top,
  //   rgba(0, 0, 0, 0) 0%,
  //   $color 0%,
  //   $color $thickness,
  //   rgba(0, 0, 0, 0) $thickness
  // );
}

@mixin underlined($color, $thickness: 4%) {
  text-decoration: none;
  color: $color;
  padding-bottom: 2px;
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0%,
    $color 0%,
    $color $thickness,
    rgba(0, 0, 0, 0) $thickness
  );
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    $color 0%,
    $color $thickness,
    rgba(0, 0, 0, 0) $thickness
  );
}

@mixin framed($color, $thickness: 1px) {
  text-decoration: none;
  color: $color;
  padding: 2px;
  border: $thickness solid $color;
}

@mixin no-underline() {
  text-decoration: none;
  color: inherit;
  padding-bottom: 0;
  background-image: none;
}

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix")
      format("embedded-opentype"),
    url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff")
      format("woff"),
    url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf")
      format("truetype"),
    url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix")
      format("embedded-opentype"),
    url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff")
      format("woff"),
    url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf")
      format("truetype"),
    url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix")
      format("embedded-opentype"),
    url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff")
      format("woff"),
    url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf")
      format("truetype"),
    url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix")
      format("embedded-opentype"),
    url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff")
      format("woff"),
    url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf")
      format("truetype"),
    url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Tufte CSS styles */
html {
  font-size: 15px;
}

body {
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  max-width: 1400px;

  @media (max-width: $breakpoint) {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }

  // hyphens: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", Georgia, serif;
  background-color: $background;
  color: $textColor;
  counter-reset: sidenote-counter;
}

h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

hr {
  display: block;
  height: 1px;
  width: 100%;
  max-width: $paragraphLength;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

.numeral {
  font-family: et-book-roman-old-style;
}

.danger {
  color: red;
}

article {
  padding: 5rem 0rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph {
  margin: 5em 0;
  max-width: $paragraphLength;
}

div.epigraph > blockquote {
  margin-top: 3em;
  margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
  font-style: italic;
}

div.epigraph > blockquote > footer {
  font-style: normal;
}

div.epigraph > blockquote > footer > cite {
  font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  max-width: $paragraphLength;
  margin-right: 40px;
}

blockquote footer {
  max-width: $paragraphLength;
  font-size: 1.1rem;
  text-align: right;
}

section > p,
section > footer,
section > table {
  max-width: $paragraphLength;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > ol,
section > ul {
  max-width: calc(#{$paragraphLength} - 3rem);
  padding-inline-start: 3rem;
  -webkit-padding-start: 3rem;
}

li:not(:first-child) {
  margin-top: 0.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 600px;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

// figcaption {
//   float: right;
//   clear: right;
//   margin-top: 0;
//   margin-bottom: 0;
//   font-size: 1.1rem;
//   line-height: 1.6;
//   vertical-align: baseline;
//   position: relative;
//   max-width: 40%;
// }

// figure.fullwidth figcaption {
//   margin-right: 24%;
// }

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
  color: inherit;
}

.no-tufte-underline:link {
  background: unset;
  text-shadow: unset;
}

a,
.tufte-underline,
.hover-tufte-underline:hover {
  @include underlined($textColor);
}

img,
video,
canvas {
  max-width: 100%;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: 0.03em;
}

code,
pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
  font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.8em;
}

// .marginnote > code,
// .sidenote > code {
//   font-size: 1rem;
// }

pre > code {
  font-size: 0.9rem;
  max-width: calc(#{$paragraphLength} - 2rem);
  margin-left: 2rem;
  overflow-x: auto;
  display: block;
}

pre.fullwidth > code {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input.margin-toggle {
  display: none;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: $breakpoint) {
  hr,
  section > p,
  section > footer,
  section > table {
    width: 100%;
  }

  figure {
    max-width: 100%;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }
}
