---
layout: default
title: Music
comments: false
category: music
permalink: /music/
main_songs:
  - title: Awakening
    source: ./mp3/Awakening.mp3

  - title: CloudLight
    source: ./mp3/CloudLight.mp3

  - title: Cloudfall Village
    source: ./mp3/Cloudfall-Village.mp3

  - title: Étrangement Familier
    source: ./mp3/Etrangement-Familier.mp3

  - title: Her Dog Was Named Cheryl
    source: ./mp3/Her-Dog-Was-Named-Cheryl.mp3

  - title: Horizontal Spaining
    source: ./mp3/Horizontal-Spaining.mp3

  - title: Into the Open
    source: ./mp3/Into-The-Open.mp3

  - title: Le Petit Chapardeur
    source: ./mp3/Le-Petit-Chapardeur.mp3

  - title: Misty Goodness
    source: ./mp3/Misty-Goodness.mp3

  - title: Pan Pleut Mousse
    source: ./mp3/Pan-Pleut-Mousse.mp3

  - title: Seashell Manor
    source: ./mp3/Seashell-Manor.mp3

  - title: When Besaid Cries
    source: ./mp3/When-Besaid-Cries.mp3
---

<section class="music">
  <!-- <p>
    Here is a humble collection of songs. Echoes from timeless musical sessions,
    spent trying to jam notes from the piano together into the computer.
  </p> -->

  <div id="song-player">
    <div class="controls">
      <div class="amplitude-prev">
        {% include skip-back.svg.html %}
      </div>
      <div class="amplitude-play-pause">
        {% include play.svg.html %}{% include pause.svg.html %}
      </div>
      <div class="amplitude-next">
        {% include skip-forward.svg.html %}
      </div>
    </div>

    <div id="custom-song-played-progress">
      <div class="progress-background">
        <div class="progress-buffered"></div>
        <div class="progress-played"></div>
      </div>
    </div>
  </div>

  <div id="single-song-player">
    <img data-amplitude-song-info="cover_art_url" />
    <div class="bottom-container">
      <progress
        class="amplitude-song-played-progress"
        id="song-played-progress"
      ></progress>

      <div class="time-container">
        <span class="current-time">
          <span class="amplitude-current-minutes"></span>:<span
            class="amplitude-current-seconds"
          ></span>
        </span>
        <span class="duration">
          <span class="amplitude-duration-minutes"></span>:<span
            class="amplitude-duration-seconds"
          ></span>
        </span>
      </div>

      <div class="control-container">
        <!-- <div class="amplitude-play-pause" id="play-pause">Play/Pause</div> -->
        <div class="meta-container">
          <span data-amplitude-song-info="name" class="song-name"></span>
          <span data-amplitude-song-info="artist"></span>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <ul class="playlist">
    {% for item in page.main_songs %}
    <li class="song">
      {% include play.svg.html %}
      <span class="counter sans">{{ forloop.index }}</span>
      <span
        class="title amplitude-name"
        data-amplitude-song-index="{{ forloop.index0 }}"
        data-amplitude-playlist="main_songs"
        >{{item.title}}</span
      >
      <span class="duration sans">0:00</span>
      <audio controls><source src="{{item.source}}" type="audio/mpeg" /></audio>
    </li>
    {% endfor %}
  </ul>
  <hr />

  <!-- <p>
    <iframe
      scrolling="no"
      width="100%"
      frameborder="no"
      style="margin-top: 40px; height: 400px;"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/15157137&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"
    >
    </iframe>
  </p> -->
</section>

<script>
  // console.log({{ page.main_songs }});
  window.main_songs = [
  {% for item in page.main_songs %}
  {
    name: "{{item.title}}",
    url: "{{item.source}}"
  },
  {% endfor %}
  ];
</script>

<script src="../scripts/amplitude/amplitude.js"></script>

<script src="../scripts/music-player.js"></script>
